{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
</head>
<body>
<div class="container">
    <h2>Регистрация нового пользователя</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зарегистрироваться</button>
    </form>
    <p>Уже зарегистрированы? <a href="{% url 'login' %}">Войти</a></p>
</div>
</body>
</html>
